<div id="header">
    <div id="navbar">
        <h3 id="name">Brett Matsumoto</h3>
        <div class="dropdown">
            <div class="menubtn">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <div class="menucontent">
                <a href="/" class="menucontentbtn">Home</a>
                <a href="/checkSheet" class="menucontentbtn">Check Sheet</a>
            </div>
        </div>
    </div>
</div>