<div id="header">
    <div id="navbar">
        <a id="name" href="./">Kaoru Ishikawa</a>
        <a href="./checkSheet">Check Sheet</a>
        <a href="./paretoChart">Pareto Chart</a>
        <a href="./histogram">Histgram</a>
        <a href="./scatterDiagram">Scatter Diagram</a>
        <a href="./flowChart">Flow Chart</a>
        <a href="./controlChart">Control Chart</a>
        <a href="./fishboneDiagram">Fishbone Diagram</a>
    </div>
</div>
</div>