<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaoru Ishikawa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/public/resources/">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    <h1>Dr. Kaoru Ishikawa (1915-1989)</h1>
    <div id="ishikawaContent">
        <div id="imgContainer">
            <img src="https://shiftindonesia.com/wp-content/uploads/2014/02/Ishikawa-bw.jpg" id="ishikawaImg">
            <h4 id="ishikawaTitles">University Professor, Influential Quality Management Innovator, Creator of the
                Ishikawa
                (Fishbone) Diagram,
                Developer of a Specifically Japanese Quality Strategy.</h4>
        </div>
        <div id="ishikawaAbout">
            <div id="ishikawaHistory">
                <h3>Dr. Kaoru Ishikawa was an active promoter of quality and
                    quality control in Japan, begining several
                    quality
                    control programs and ensured the translation of the lectures of Quality Control Guru's Edwards W.
                    Deming
                    and
                    Joseph M. Jurans lectures into a uniquely Japanese perspective on quality improvement. With a total
                    quality viewpoint for company-wide improvement, he emphasized the human aspects of quality believing
                    that through effective leadership, quality could do more than just transform manufacturing - it
                    could
                    improve our lives.</h3>
                <h3 style="margin-bottom: 0;">Through a lifetime of work and effort,
                    Ishikawa created six principles that
                    helped create an
                    integrated Japanese quality model and redefined the way Japan viewed manufacturing. Alongside this,
                    Ishikawa was the first one to emphasize the seven basic tools of quality control.</h3>
                <div id="ishikawaLists">
                    <ol id="ishikawaPrinciples" style="padding-left: 0%;">
                        <li>All employees should clearly understand the objectives and business reasons behind the
                            introduction and promotion of company-qide quality control.</li>
                        <li>The features of the quality system should be clarified at all levels of the organization and
                            communicated in such a way that the people have confidence in these features.</li>
                        <li>The continuous improvement cycle should be unremittingly applied throughout the whole
                            company for at least three to five years to develop standardized work. Both statistical
                            quality control and process analysis should be used, and upstream control for suppliers
                            should be developed and effectively applied</li>
                        <li>The company should define a long-term quality plan and carry it out systematically.</li>
                        <li>The walls between departments or fucntions should be broken down, and cross functional
                            management should be applied.</li>
                        <li>Everyone should act with confidence, believing his or her work will bear fruit.</li>
                    </ol>
                    <ol id="ishikawaTools">
                        <li>Pareto Analysis : What are the big problems?</li>
                        <li>Cause-and-effect diagrams : What is causing the problem?</li>
                        <li>Stratification : How is the data made up?</li>
                        <li>Check Sheets : How often does it occur?</li>
                        <li>Histograms : What is the overall variation?</li>
                        <li>Scatter Charts : What are the relationships between factors?</li>
                        <li>Process control charts : Which variations are controllable and how?</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>