<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaoru Ishikawa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/public/resources/">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    <h1>Kaoru Ishikawa</h1>
    <div id="imgContainer">
        <img src="https://shiftindonesia.com/wp-content/uploads/2014/02/Ishikawa-bw.jpg" id="ishikawaImg">
        <h4 id="ishikawaTitles">University Professor, Influential Quality Management Innovator, Creator of the Ishikawa
            (Fishbone) Diagram,
            Developer of a Specifically Japanese Quality Strategy.</h4>
    </div>
</body>

</html>