/* Standard for all pages */

body{
    margin: 0;
    background-color: #f2f2f2;
}

h1{
    display: flex;
    justify-content: center;
}

#navbar{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 2.5em;
    box-shadow: 1em 1em 1em gray;
    z-index: 1;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .menubtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    padding-right: 1em;
}

.menucontent {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    box-shadow: 1em 1em 1em gray;
    z-index: 1;
}

.menucontent a {
    float: none;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menucontentbtn:hover {
    background-color: grey;
}

.dropdown:hover .menucontent {
    display: block;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

/* for individual pages */

#checkSheetAbout {
    display: flex;
    float: left;
    width: 25%;
}