<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Sheet</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <h1>Check Sheet</h1>
    <div id="checkSheetAbout">
        <h4>The check sheet is an organized way to quickly and easily collect the counts of defects, locations,
            products, occurances, or events. The form can be simple or formal and is adapted to the data need for a
            given project</h4>
        <h4>Directions</h4>
        <ol>
            <li>Deterine the categories or defects or locations being tracked, and any further stratifying information
                such as shift or month.</li>
            <li>Create a table with categories in the first column and stratifying information across the top.</li>
            <li>Distribute the forms to data collectors with clear instructions, and pick up the sheets to tabulate when
                complete.</li>
        </ol>
    </div>
    <div id="checkSheet">
        <form action="">
            <div id="checkSheetInput">
                <div id="checkSheetOverhead">
                    <label for="" class="inputLabel">Title</label>
                    <input type="text" name="Title" id="title"
                        placeholder="Rework Categories for Wire Cutting Operations" maxlength="50" size="50">
                    <label for="" class="inputLabel">Category</label>
                    <input type="text" name="Category" id="category" placeholder="Category" size="25">
                    <label for="" class="inputLabel">Stratifying Information Title</label>
                    <input type="text" name="StratifyingInfoTitle" class="stratInfo" placeholder="Shift / Month / etc."
                        size="25">
                </div>
                <div id="checkSheetDetails">
                    <label for="" class="inputLabel">Stratifying Information</label>
                    <input type="text" name="StratifyingInfo" class="stratInfo" placeholder="1st / January / etc.">
                    <input type="text" name="StratifyingInfo" class="stratInfo" placeholder="2nd / Feburary / etc.">
                    <button>Add</button>
                    <label for="" class="inputLabel">Check For</label>
                    <input type="text" name="CategoryInfo" class="catInfo" placeholder="Wrong Length">
                    <input type="text" name="CategoryInfo" class="catInfo" placeholder="Wrong Terminal">
                    <input type="text" name="CategoryInfo" class="catInfo" placeholder="Marking Error">
                    <input type="text" name="CategoryInfo" class="catInfo" placeholder="Wire Damage">
                    <input type="text" name="CategoryInfo" class="catInfo" placeholder="Wrong Color">
                    <button>Add</button>
                </div>
                <input type="Submit" value="Build Check Sheet">
            </div>
        </form>
    </div>
    {{>footer}}
    <script src="js/checkSheet.js"></script>
</body>

</html>