<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Sheet</title>
    <link rel="stylesheet" href="css/checkSheetStyle.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <h1>Check Sheet</h1>
    <div id="checkSheetAbout">
        <h3>The check sheet is an organized way to quickly and easily collect the counts of defects, locations,
            products, occurances, or events. The form can be simple or formal and is adapted to the data need for a
            given project</h2>
    </div>
    {{>footer}}
</body>

</html>