<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Sheet</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <h1>Cause-and-Effect Diagram (Fishbone Diagram)</h1>
    <div id="checkSheetAbout">
        <h4>A cause and effect diagram is also known as a fishbone diagram (due to its shape) or Ishikawa Diagram (after
            the man who popularized its use). This diagram is used to drill down to the root cause for a given problem
            or defect. Generic categories, or "bones," include Materials, Methods, Measurement, People, Machines, and
            Environment. Process steps may also be used as "bones" in lieu of general categories.</h4>
        <h4>How to Build a Cause and Effect Diagram</h4>
        <ol>
            <li>Draw a "fishbone" template.</li>
            <li>Write the problem statement (effect) at the head of the "fish" - be clear and specific.</li>
            <li>Write the major categories of potential causes of the problem on the "bones" of the body.</li>
            <li>Brainstorm potential causes for possible errors in each category and add them to the fishbone diagram.
            </li>
            <li>Ask "why?" for each potential cause and keep asking/answering "why?" until reaching the potential root
                cause.</li>
        </ol>
    </div>
    <div id="checkSheet">
        <img id="checkSheetImg" src="https://tulip.co/wp-content/uploads/fishbone_diagram_example-1024x791.jpeg" alt="">
    </div>
    <script src="js/checkSheet.js"></script>
</body>

</html>