<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Sheet</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <h1>Flow Charts</h1>
    <div id="checkSheetAbout">
        <h4>Flow charts are typically used in projects to document process steps. They can be used at an overview level
            or at very specific levels of detail. Different shapes represent start/stop points (ovals or rounded
            shapes), process steps (rectangles). decision points (diamonds), etc. These three shapes can document a
            process quite well.</h4>
        <h4>How to Build a Flow Chart</h4>
        <ol>
            <li>Create a list of ations with a start point, a list of process steps or decision points, and an end
                point.</li>
            <li>Enter the actions into appropriate shapes as described above and lay them out in sequential order.</li>
            <li>Connect the shapes in order with arrows.</li>
        </ol>
    </div>
    <div id="checkSheet">
        <img id="checkSheetImg" src="https://www.computerhope.com/jargon/f/flowchart.jpg" alt="">
    </div>
    <script src="js/checkSheet.js"></script>
</body>

</html>