<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Sheet</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/c53df5b490.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <h1>Scatter Diagram</h1>
    <div id="checkSheetAbout">
        <h4>A scatter diagram, also known as a scatter plot, plots two variables for a given data set as a collection of
            points. From this plot a visual display of correlation between the two variables can be seen.</h4>
        <h4>How to Build a Scatter Diagram</h4>
        <ol>
            <li>Collect two variables for an event, such as temperature and pressure to extrude plastic, or time and
                amount of starch required for pudding to set.</li>
            <li>Plot a data point for each pair of data, one on the x-axis and one on the y-axis. If one variable is
                being controlled experimentally, it is the independent variable and is typically plotted on the x-axis.
            </li>
        </ol>
    </div>
    <div id="checkSheet">
        <img id="checkSheetImg" src="https://www.spcforexcel.com/files/field/image/scatter-diagram.png" alt="">
    </div>
    <script src="js/checkSheet.js"></script>
</body>

</html>